.custom-paper {
  border-radius: 12px;
}

.inner-paper {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.dotted-divider {
  border-top: 1px dotted #bbb;
}

.badge {
  font-size: 0.85rem;
  padding: 0.35em 0.8em;
  border-radius: 20px;
}
.dashed-divider {
  border-top: 1px dashed rgba(0, 0, 0, 0.3) !important;
  margin: 8px 0;
}
.btn-yellow {
  background-color: #ffc107 !important; 
  color: #212529 !important;
}
